body{
  max-width: 100vw;
}

header{
       background-color: rgb(118, 56, 180);
     color: black;
   text-align: center;
  margin: 0 auto;
  padding: 16px;
   }
     main {
   background-color: white;
  color: rgb(94, 32, 142);
  margin: 0 auto;
  padding: 16px;

   display: flex;

   flex-wrap: wrap;
   
  }

  article{
    display: flex;

    border: 1px solid rgb(118, 56, 180);


    margin: 16px;
    gap: 16px;
    padding: 16px;


    flex: 1 1 30%
  }

 img{
  width: 80px;
  height: 80px;
  }
 .artigo-autor {
 font-weight: bold;
 }