header{
       background-color: rgb(118, 56, 180);
     color: black;
   text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
   }
     main {
   background-color: white;
  color: rgb(94, 32, 142);
    max-width: 800px;
  margin: 0 auto;
   display: flex
   display: flex;
  }

 img{
  width: 80px;
  height: 80px;
  }
 .artigo-autor {
 font-weight: bold;
 }